<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!--
		<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="jspart-domain" />
		<property name="jpaVendorAdapter"> <bean
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="database" value="POSTGRESQL" /> <property
		name="generateDdl" value="false" /> <property name="showSql"
		value="true" /> </bean> </property> </bean>
	--><!--	<bean id="persistenceUnitManager"-->
	<!--
		class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
	-->

	<!--				<property name="persistenceXmlLocation">-->
	<!--					<list>-->
	<!--						<value>classpath*:META-INF/persistence.xml</value>-->
	<!--					</list>-->
	<!--				</property>-->
	<!--		<property name="dataSources">-->
	<!--			<map>-->
	<!--
		<entry key="dataSourcePostgres" value-ref="dataSourcePostgres" />
	-->
	<!--			</map>-->
	<!--		</property>-->
	<!--		 if no datasource is specified, use this one -->
	<!--		<property name="defaultDataSource" ref="dataSourcePostgres" />-->
	<!--	</bean>-->



	<!-- BasicDataSource doesnt work anymore, throws: org.springframework.transaction.CannotCreateTransactionException: Could not open JPA EntityManager for transaction; nested exception is java.lang.UnsupportedOperationException: Not supported by BasicDataSource
		<bean id="dataSourcePostgres"
		class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close"> <property name="driverClassName"
		value="org.postgresql.Driver" /> <property name="url"
		value="jdbc:postgresql:jspart" /> <property name="username"
		value="jspart" /> <property name="password" value="jspart" /> </bean>
	-->
	
	
	<bean id="dataSourcePostgres"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql:jspart" />
		<property name="username" value="jspart" />
		<property name="password" value="jspart" />
	</bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
		p:dataSource-ref="dataSourcePostgres">
		<!--
			<property name="persistenceUnitManager" ref="persistenceUnitManager"
			/>
		-->
		<property name="persistenceUnitName" value="jspart-domain" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="database" value="POSTGRESQL" />
				<property name="generateDdl" value="false" />
				<property name="showSql" value="true" />
			</bean>
		</property>
	</bean>



	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="dataSource" ref="dataSourcePostgres" />
	</bean>

	<bean id="jpaArtifactDAO" class="net.sigmalab.jspart.dao.jpa.ArtifactDAO">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<bean id="jpaUserDAO" class="net.sigmalab.jspart.dao.jpa.UserDAO">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<bean id="jpaCommentDAO" class="net.sigmalab.jspart.dao.jpa.CommentDAO">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<bean id="jpaContactInfoDAO" class="net.sigmalab.jspart.dao.jpa.ContactInfoDAO">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<bean id="jpaImageArtifactDAO" class="net.sigmalab.jspart.dao.jpa.ImageArtifactDAO">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<bean id="jpaLicenceDAO" class="net.sigmalab.jspart.dao.jpa.LicenceDAO">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>


	<bean id="jpaSoundArtifactDAO" class="net.sigmalab.jspart.dao.jpa.SoundArtifactDAO">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<bean id="jpaSoundTypeDAO" class="net.sigmalab.jspart.dao.jpa.ArtifactTypeDAO">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<bean id="jpaTagDAO" class="net.sigmalab.jspart.dao.jpa.TagDAO">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<bean id="jpaTagTranslationDAO" class="net.sigmalab.jspart.dao.jpa.TagTranslationDAO">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<bean id="jpaRoleDAO" class="net.sigmalab.jspart.dao.jpa.RoleDAO">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

</beans>
